name: firestore_sqlite
description: A new Flutter package project.
version: 0.0.1
publish_to: none

environment:
  sdk: ">=2.19.0-364.0.dev <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  drift: # ^2.1.0
    path: third_party/drift/drift
  sqlite3_flutter_libs: ^0.5.5
  http: ^0.13.5
  path_provider: ^2.0.0
  path: ^1.8.2
  sqlite3: ^1.7.0
  icloud_storage: ^2.1.0
  cloud_firestore: ^4.0.4
  recase: ^4.1.0
  freezed_annotation: ^2.1.0
  json_annotation: ^4.7.0
  mustache_template: ^2.0.0
  mustache_recase: ^2.1.0
  dart_style: ^2.2.4
  args: ^2.3.1
  firebase_storage: ^11.0.5
  collection: ^1.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  build_runner: ^2.2.0
  json_serializable: ^6.2.0
  build_version: ^2.1.1
  freezed: ^2.2.1
  drift_dev: # ^2.1.0
    path: third_party/drift/drift_dev
  fake_cloud_firestore: ^2.0.1
  firebase_storage_mocks: ^0.6.0+1

flutter:

scripts:
  generate: dart bin/generate.dart -o ./example -q -r -c
  build: flutter pub run build_runner build --delete-conflicting-outputs
  dev: firebase emulators:start
